@page
@model McBrokers.Web.Pages.SignoutModel
@{
    ViewData["Title"] = "Sesión cerrada";
}

<div class="text-center pt-5">
    <h3>Sesión cerrada</h3>
    <p><a asp-page="/Signin">Iniciar sesión nuevamente</a></p>
</div>
